body { padding: 0; margin: 0; }
#viewport {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.parallax-layer
      { position:absolute; }
	  
#zon {
	position: absolute;
	right: 3px;
	top: 0;
	z-index: 25;
}
#layer-gras {
	position: absolute;
	bottom: 0;
	left: 0;
}

#layer-content {
	position: relative;
	width: 3000px;
}
	.content-wrapper {
		position: absolute;
		top: 0;
	}
	#layer-varkensstal {	left: 0; }
	#layer-gaarde { left: 6%; }
	#layer-buytenhof { left: 41%; }

/* debug */
#log { 
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 150px;
	background: grey;
}